<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'TestBlync' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>2f79eaf8-ec3d-4527-9383-d9e2963bc529</InstrumentationKey>
</ApplicationInsights>